body
{
	background-color: LightBlue;
}
 h1{
 	color: hotpink;
 	text-decoration: underline;
 	text-align: center;
 	font-family: Helvetica, sans-serif;
 }
 img{
 	height: 20em;
 	border-radius: 0.5em;
 	border: 5px solid black;
 	display: block;
  	margin-left: auto;
 	margin-right: auto;
  }